html{
    font-family: 'Roboto Slab', serif;
}

a{
    text-decoration: none;
    color: chocolate;
}

a:hover{
    opacity: 0.5;
}

.titulo{
    text-transform: uppercase;
    text-align: center;
}

/*Contenedor se refiere a toda la sección del body*/
.container{
background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.content{
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(121, 23, 23, 0.23); /*diferenciaHorizontal diferenciaVertical desenfoque amplitud color*/
    border-radius: .25em;
    position: relative;
    padding: 1.8em;
}

.actions{
    position: absolute;
    top: 1em;
    right: 1em; 
}

.close{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #027373;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(121, 23, 23, 0.23);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.parrafo{
    line-height: 1.8em;
    font-weight: 100;
}

.fa-star, .fa-star-half-stroke{
    color: #e33217
}

.tabla{
    width: 100%;
    border-spacing: 0;
}

.tabla td, .tabla th{
    padding: 1em;
    text-align: left;
}

.tabla tr:nth-child(even){
    background-color: #28d3c271;
}

.title-item{
    /* border-bottom-style:solid;    
    border-width: .07em;
    border-color: #027373; */
    padding-bottom: 1em;
    border-bottom: solid 2px #027373;
    font-size: 1.5em;;
}

.quote{
    font-weight: bold;
}

.main-image{
    float: left;
    margin-right: 1em;
    height: 250px;
}

.position{
    background-color: #027373;
    color:white;
    padding: .5em;
    border-radius: .25em;
    margin-right: 0.5em;
    font-size: 1.5em;
}

/* Color Theme Swatches in Hex 
.Northern-lights-in-the-Canadian-Rockies,-Jasper-1-hex { color: #172026; }
.Northern-lights-in-the-Canadian-Rockies,-Jasper-2-hex { color: #5FCDD9; }
.Northern-lights-in-the-Canadian-Rockies,-Jasper-3-hex { color: #027373; }
.Northern-lights-in-the-Canadian-Rockies,-Jasper-4-hex { color: #04BFAD; }
.Northern-lights-in-the-Canadian-Rockies,-Jasper-5-hex { color: #04BF9D; }
*/